<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content=" img-src https://avatars.githubusercontent.com http://localhost:3000/ https://i.ytimg.com https://lh3.googleusercontent.com/ ;inline style  http://www.google.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico"/>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="background.css">
    <link rel="stylesheet" href="start.css">
    <link rel="stylesheet" href="search.css">
    <script src="https://cdn.auth0.com/js/auth0-spa-js/1.13/auth0-spa-js.production.js" integrity="sha256-AdY4neVYGio+sM1NagXLE2vwfSITBviRc6CAxzo445I=" crossorigin="anonymous"></script>
   {{!--  <script src="auth0-spa-js.production.js.map"></script> --}}
     <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
    <script src="jquery.js"></script>

    <title>Chill Radio</title>
</head>
<body>
  {{{body}}}
</body>
</html>