<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="background.css">
    <link rel="stylesheet" href="start.css">
      <link rel="stylesheet" href="search.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
     
    <div id="start">
        <span>Welcom to chill radio</span>
        <button onclick="start()">Let's go</button>
    </div>
<main id="main">
    <div id="search">
        <div id="search_div">
            <p>Tìm kiếm</p>
            <input id="search_type" type="text"><button id="btn_search"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></button>
</svg>
        </div>
        <div id="search_result">
        </div>
    </div>
    <div id="login">
        <span>Sign in to add video</span>
  <button onclick="login()">Sign in</button>
    </div>
    <div id="layer">
    </div>
    <div id="user">
            <img id="userImg" src="https://i.ytimg.com/vi/iETryHhFnpM/default.jpg">
            <span id="userName">Hi,</span>
    </div>
    <div id="login"></div>
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div id="title"></div>

    <div class="wrapper">
        <!--Video-->
        <div class="video">
            <iframe id="videoframe"  width="95%" height="95%" src="https://www.youtube.com/embed/y1UdQdwwp30" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           <!-- <iframe id="vidyteo" type="text/html" src="https://www.youtube.com/embed/Giv0zvtVuzU?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
        </div>
        <!--Play list-->
        
        <div class="playlist">
            <div id="queceVideo">
                <span>Play List</span>
            </div>
            <div id="videolist">
                <div class="box" >
                    <span id="order">1</span>
                    <span><img width="80px" height="60px" src="https://i.ytimg.com/vi/iETryHhFnpM/default.jpg"></span>
                    <div>
                        <div id="title"><span >Tìm hiểu về Gf Bootstrap</span></div>
                        <div id="addby"><span>added by</span></div>
                    </div>
                   
                </div>
                <div class="box" >
                    <span id="order">1</span>
                    <img width="80px" height="60px" src="https://i.ytimg.com/vi/iETryHhFnpM/default.jpg">
                    
                </div>
                <div class="box" >
                    <span id="order">1</span>
                    <img width="80px" height="60px" src="https://i.ytimg.com/vi/iETryHhFnpM/default.jpg">
                    <span id="title">Tìm hiểu về Grid System trong Bootstrap</span>
                </div>
                <div class="box" >
                    <span id="order">1</span>
                    <img width="80px" height="60px" src="https://i.ytimg.com/vi/iETryHhFnpM/default.jpg">
                    <span id="title">Tìm hiểu về Grid System trong Bootstrap</span>
                </div>
                <div class="box" >
                    <span id="order">1</span>
                    <img width="80px" height="60px" src="https://i.ytimg.com/vi/iETryHhFnpM/default.jpg">
                    <span id="title">Tìm hiểu về Grid System trong Bootstrap</span>
                </div>
                <div class="box" >
                    <span id="order">1</span>
                    <img width="80px" height="60px" src="https://i.ytimg.com/vi/iETryHhFnpM/default.jpg">
                    <span id="title">Tìm hiểu về Grid System trong Bootstrap</span>
                </div>
                <div class="box" >
                    <span id="order">1</span>
                    <img width="80px" height="60px" src="https://i.ytimg.com/vi/iETryHhFnpM/default.jpg">
                    <span id="title">Tìm hiểu về Grid System trong Bootstrap</span>
                </div>
                <div class="box" >
                    <span id="order">1</span>
                    <img width="80px" height="60px" src="https://i.ytimg.com/vi/iETryHhFnpM/default.jpg">
                    <span id="title">Tìm hiểu về Grid System trong Bootstrap</span>
                </div>
                <div class="box" >
                    <span id="order">1</span>
                    <img width="80px" height="60px" src="https://i.ytimg.com/vi/iETryHhFnpM/default.jpg">
                    <span id="title">Tìm hiểu về Grid System trong Bootstrap</span>
                </div>
                <div class="box" >
                    <span id="order">1</span>
                    <img width="80px" height="60px" src="https://i.ytimg.com/vi/iETryHhFnpM/default.jpg">
                    <span id="title">Tìm hiểu về Grid System trong Bootstrap</span>
                </div>
                
            </div>
           
            <div class="addVideo">
                <button id="addVideo" onclick="addtoplaylist()">Add to Playlist</butt>
            </div>
    </div>
</main>
<script src="https://cdn.auth0.com/js/auth0-spa-js/1.13/auth0-spa-js.production.js"></script>
<script src="outh0.js"></script>
<script src="main.js"></script>
<script src="search.js"></script>
</body>
</html>