<form id="login" action="/admin/login" method="post">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="password">
    <input type="submit">
</form>
{{!-- <form id="twofa" action="/admin/twofa" method="post"> 
    <input type="text" name="token" placeholder="token">
    <input type="submit">
</form> --}}