<button onclick="login()" id="login" >Login</button>
<div id="user">
   <img id="img" style="display: inline-block;" width="25px" height="25px">
   <span id="name" style="display: inline-block;"></span>
</div>
{{!-- <div id="user"  style="display:table-row">
    <img id="img" style="display:table-cell" width="25px" height="25px" />
    <span id="name" style="display:table-cell"></span>
</div> --}}
<div class="container">
   <div id="search">
     <input type="text" placeholder="Search" name="search-video" id="search-video" >
   </div>
    <div id="video-container">
       <iframe id="video-yt" type="text/html" src="https://www.youtube.com/embed/{{videoId}}?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<div id="live-chat">
   <div id="online">
   </div>
     <div id="message-chat">

     </div>
     <input type="text" id="message" placeholder="Message">
</div>
