  <div id="start">
        <span>Welcom to chill radio</span>
        <button id="start">Let's go</button>
    </div>
<main id="main">
    <div id="header">
      <span id="logo"> Chill radio</span>
        <div  id="user">
            <img id="userImg" src="{{img_url}}">
            <span id="userName">Hi, {{name}}</span>
        </div>
        
    </div>
    <div id="search">
        <div id="search_div">
           <button id="close" onclick="closeSearch()"> <i class="fas fa-window-close"></i></button>
            <p>Tìm Kiếm</p>
            <input id="search_type" type="text"> <button id="btn_search">
        </div>
        <div id="search_result">
        </div>
    </div>
    <div id="login">
        <span>Sign in to add video</span>
    <form action="/login" method="post">
    <button type="submit">Sign in</button>
    </form>
  {{!-- <button onclick="login()">Sign in</button> --}}
    </div>
   
    </div>
     <div id="listener">
       <span>
           <spna>Listeners:</spna>
            <spna id="listerns">10</spna>
       </span>
    </div>



    <div id="login"></div>
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div id="stars4"></div>
    <div id="title"></div>

    <div class="wrapper">
        <!--Video-->
        <div class="video">
            <div width="95%" height="95%" id="videoframe"></div>
         <!--   <iframe id="videoframe"  width="95%" height="95%" src="https://www.youtube.com/embed/NLBTbCfR-Fg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        </div>
        <!--Play list-->
         <div id="layer"></div>
           <div class="volume">
            <button id="btn-muted">
            <i class="fal fa-volume-mute" id="muted"></i>
            </button>
            <input id="volume-control" type="range" min="0" max="100" value="0">
           </div>
        <div class="playlist">
            <div id="queceVideo">
                <span>Play List</span>
            </div>
            <div id="videolist">
               
            </div>
           
            <div class="addVideo">
                <button id="addVideo">Add to Playlist</butt>
            </div>
    </div>
   
</main>
<script type="text/javascript"  src="youtube_iframe_api.js"></script>
<script type="text/javascript" src="main.js"></script>
<script type="text/javascript" src="search.js"></script>
